.project
.cproject
CMakeFiles
Makefile
CMakeCache.txt
*.cmake
*.qm
qrc_*.c*
*.qrc.depends
ts.qrc
.settings
config.h
version.h
opendbviewer
opendbviewer-testsuite
moc_*.c*
*.sqlite
README
build
data/theme/icons
core
